nav {
    background-color:steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: black;
}
h2 {
    color: black
}

/*Styles for the image in the main section */
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Styles for the paragraph elements */
p {
    padding: 0;
}

/* Styles for the main Section */

main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1pt solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color:  rgb(235, 229, 229);
    color: black;
    text-align: center;
    
}
aside img {
    width: 200px;
    height: auto;
}

/* styles for the footer */
footer {
    margin-top: 20px;
    border-top: 1px solid steelblue;
    text-align: center;
}
